! ===== Intent-Rendered Config =====
! Hostname & Domain
hostname {{ system.hostname }}
ip domain name {{ system.domain_name }}

! Banner MOTD
banner motd ^
{{ system.banner_motd | trim }}
^

! NTP
ntp server {{ ntp.servers | join("\nntp server ") }}

! Loopbacks
{% for lb in loopbacks %}
interface Loopback{{ lb.name }}
 ip address {{ lb.ip }} {{ lb.mask }}
{% endfor %}
! ===== End =====
